/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin-top: 100px;
  margin-bottom: 10px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.loading {
    background-image:url('../images/ajax-loader.gif');
    text-align: center
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.pane_main .navbar-inverse {
  background: #428bca;
  margin: 0 0 20px 0;
}

.pane_main .navbar-brand {
  font-style: italic;
  color: #FFF;
  padding: 10px 0 0 0;
  margin: 0;
  height: auto;
  font-size: 25px;
  float: none;
}

.navbar-header small {
  font-size: 11px;
  color: rgba(255,255,255,0.5);
  display: block;
  margin: 3px 0 0 25px;
}

.tweak-button small {
  font-size: 11px;
  color: rgba(255,255,255,0.5);
  display: block;
  margin: 3px 0 10px 25px;
}

.tweak-button small a {
  color: rgba(255,255,255,0.75);
}

.navbar-header small a {
  color: rgba(255,255,255,0.75);
}

.pane_east h3 {
  margin: 12px 20px 12px 20px;
  padding: 0;
}

.pane_east label {
  font-weight: normal;
  color: #999;
}

.starter-URL {
  margin: 0 0 0px 0;
}

.dev-header{
  background:#222;
  background:-webkit-gradient(linear,0 0,0 100%,from(#282828),to(#222));
  color:#F0F0F0;
  padding:15px;
  border-bottom:1px solid #363636;
  cursor:pointer
}

.dev-header .glyphicon{
  margin-left:10px;
  font-size:14px;
  font-weight:400
}

.dev-section {
  padding: 15px;
}

.fieldLabel {
  font-weight:  bold;
}

.osc_logo {
    height: 2em;
}

.grouped .docRow {
    margin-left: 0.5em;
}

/*dont style inspector-* tags, style the corresponding bootstrap
 *   classes (or your own)*/
.popover {
        max-width: 800px;
            width: auto;
}

.modal-content {
    overflow-x: auto;
}

.navbar-secondary .navbar-nav {
  color: white;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.navbar-header {
  margin-left: 20px;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(205, 221, 235);
}

.selectableDoc:hover {
    background-color: #EEE;
    cursor:pointer;
}

.explain-view {
    max-height: 400px;
    overflow-y: auto;
}

.black-label label {
  color: black;
}
