<form ng-controller="SolrSettingsCtrl" ng-submit="solrArgs.publishSearcher()">
  <fieldset>
    <label>Solr URL</label>
    <input type="text" ng-model="solrArgs.solrUrl" placeholder="Enter URL to your request handler"></input>
    <label>Displayed Fields</label>
    <input type="text" ng-model="solrArgs.fieldSpecStr" placeholder="Fields you'd like to display"></input>
    <label>Solr Args</label>
    <textarea ng-model="solrArgs.solrArgs" cols=80 rows=10></textarea>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<div>
    <div ng-repeat="doc in main.docs">
      <h1>{{doc.title}}</h1>
      <pre>
        {{doc.explain().toStr()}}
      </pre>
    
    </div>
</div>
