<form ng-controller="SolrSettingsCtrl" ng-submit="solrSettings.publishSearcher()">
  <fieldset>
    <label>Solr URL</label>
    <input type="text" ng-model="solrSettings.solrUrl" placeholder="Enter URL to your request handler"></input></br>
    <label>Displayed Fields</label>
    <input type="text" ng-model="solrSettings.fieldSpecStr" placeholder="Fields you'd like to display"></input></br>
    <label>Solr Args</label>
    <textarea ng-model="solrSettings.solrArgsStr" cols=80 rows=10></textarea>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<div>
    <div ng-show="main.isLoading" class="loading"><img src="ajax-loader.gif"><img></div>
    <div ng-show="!main.isLoading" class="row" ng-repeat="doc in main.docs">
      <div class="col-md-4">
      <h4>{{doc.title}}</h4>
        <div ng-repeat="sub in doc.subsList">
          {{sub.value}}
        </div> 
      </div>
      <div class="col-md-8">
      <h4>Score: {{doc.score}}</h4>

        <tabset>
          <tab heading="Full Explain"><json-explorer json-data="{{doc.explain().rawStr()}}"></json-explorer></tab>
          <tab heading="Summarized"> <pre>{{doc.explain().toStr()}}</pre></tab>
          <tab heading="Hot Matches"><pre>{{doc.explain().vectorize().toStr()}}</pre></tab>
        </tabset>

       
      </div>
    </div>
    <hr>
</div>
