<div>
    <div ng-show="main.state === main.WAITING_FOR_SEARCH" class="loading"><img src="ajax-loader.gif"><img></div>
    <div ng-show="main.state === main.IN_ERROR">Error with your solr query</div>
    <div ng-show="main.state === main.DID_SEARCH" ng-repeat="doc in main.docs">
      <div class="row">
        <div class="col-md-4">
        <h4>{{doc.title}}</h4>
          <div ng-repeat="sub in doc.subsList">
            {{sub.value}}
          </div> 
        </div>
        <div class="col-md-8">
          <h4>Score: {{doc.score}}</h4>

            <tabset>
              <tab heading="Summarized"> <pre>{{doc.explain().toStr()}}</pre></tab>
              <tab heading="Hot Matches"><pre>{{doc.explain().vectorize().toStr()}}</pre></tab>
              <tab heading="Full Explain"><json-explorer json-data="{{doc.explain().rawStr()}}"></json-explorer></tab>
            </tabset>

         
        </div>
      </div>
      <hr/>
    </div>
</div>
