<p class="modal-header">Explain for: <i>{{doc.title}}</i> <span ng-if="altDoc">vs <i>{{altDoc.title}}</i></span></p>
<div class="modal-body">

    <div class="row">
      <div>
        <uib-tabset>
          <uib-tab heading="Summarized">
          <div class="explain-view" ng-class="{true: 'col-md-6', false: 'col-md-12'}[altDoc !== null]">
            <pre>{{doc.explain().toStr()}}</pre>
          </div>
          <div  class="explain-view" ng-if="altDoc" ng-class="{true: 'col-md-6', false: 'col-md-0'}[altDoc !== null]">
            <pre>{{altDoc.explain().toStr()}}</pre>
          </div>
          </uib-tab>
          <uib-tab heading="Hot Matches">
          <div  class="explain-view" ng-class="{true: 'col-md-6', false: 'col-md-12'}[altDoc !== null]">
            <pre>{{doc.hotMatches().toStr()}}</pre>
          </div>
          <div  class="explain-view" ng-if="altDoc" ng-class="{true: 'col-md-6', false: 'col-md-0'}[altDoc !== null]">
            <pre>{{altDoc.hotMatches().toStr()}}</pre>
          </div>
          </uib-tab>
          <uib-tab heading="Full Explain">
            <div ng-class="{true: 'col-md-6', false: 'col-md-12'}[altDoc !== null]">
              <json-explorer
                json-data="doc.explain().rawStr()"
              ></json-explorer>
            </div>
            <div ng-if="altDoc" ng-class="{true: 'col-md-6', false: 'col-md-0'}[altDoc !== null]">
              <json-explorer
                json-data="altDoc.explain().rawStr()"
              ></json-explorer>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>

</div>
<div ng-show="canExplainOther" class="container">
    <hr/>
    <div class="row" style="margin-bottom: 20px; max-height: 300px; overflow-y: auto; overflow-x: hidden">
      <doc-selector doc-selection="altDoc"></doc-selector>
    </div>
</div>
