
  <div class="row">
    <form ng-submit="explainOther(altQuery)">
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <input class="form-control" id="altQuery" ng-model="altQuery" placeholder="Search For Other Docs To Compare (use Simple Lucene Query syntax)" type="text"></input>
      </div>
      <div class="col-md-3">
        <input class="btn btn-primary form-control" type="submit" value="Find Others"></input>
      </div>
      <div class="col-md-1"></div>
    </form>
  </div>
  </hr>
  <div class="container" ng-repeat="doc in currSearch.docs">
    <doc-row detailed-explain-link="false" max-score="currSearch.maxScore" doc="doc" ng-click="selectDoc(doc)"></doc-row>
    <hr/>
  </div>
  <!--div>
    <div ng-show="!currSearch.paging && currSearch.moreResults()" id="pager" class="col-sm-3 col-sm-offset-5"><a href="" ng-click="currSearch.page()">Select From More Results</a></div>
  </div-->
