
<div style="position: absolute; bottom: 10px; right: 10%; width: 240px">

<div ng-controller="HelpBoxCtrl" class="row">

  <div ng-show="help.toggle">
    <div ng-show="help.toggle">
      <div ng-switch="help.who">
        <img ng-switch-when="0" title="Doug Turnbull, Relevancy Guru & Quepid/Splainer Creator" src="/images/doug.jpg" style="float: left; margin: 0 25px 10px 0; width: 50px" />
        <img ng-switch-when="1" title="Eric Pugh, OpenSource Connections Principal" src="/images/eric.jpg" style="float: left; margin: 0 25px 10px 0; width: 50px" />
        <img ng-switch-when="2" title="Matt Overstreet, OpenSource Connections Solr Architect" src="/images/matt.jpg" style="float: left; margin: 0 25px 10px 0; width: 50px" />
      </div>
      <div ng-switch="help.whichMsg">
        <p ng-switch-when="0">Can't get your search to where it needs to be? <a href="mailto:TalkToUs@opensourceconnections.com">Contact us</a> for Solr search tuning services or <a target="_blank" href="http://www.opensourceconnections.com/what-we-do/">browse our offerings</a>!</p>
        <div ng-switch-when="1">Try <a href="http://quepid.com">Quepid</a>:
          <ul>
            <li>Tune multiple searches simultaneously</li>
            <li>Rate search results on relevance</li>
            <li>Keep a history of all your tweaks</li>
            <li>Take Snapshots of search results and Diff!</li>
            <li>Engage in <a href="http://www.opensourceconnections.com/2013/10/14/what-is-test-driven-search-relevancy/" target="_blank">Test Driven Search Relevancy!</a></li>
          </ul>
        </div>
      </div>
      <!--div class="panel" style="padding-bottom: 15px">
        <img src="/images/doug.jpg" style="float: left; margin: 20px 30px 100px 20px; width: 75px" />

        <h2>Hi, I'm Doug, creator of Quepid!</h2>

        <p><b>Welcome to your trial, to get started:</b></p>

        <ul style="margin: 0 0 10px 100px">
          <li>Open up "developer settings" to point Quepid at your Solr instance</li>
          <li>Add queries and test your search relevancy!</li>
        </ul>

        <a href="mailto:dturnbull@opensourceconnections.com" class="btn btn-success" style="float: left; margin: 0 10px 0 0">Contact me for help with Quepid</a></p>
        <a href="http://opensourceconnections.com" target="_blank" class="btn btn-primary">Learn about the search services of OpenSource Connections</a></p>
      </div-->
    </div>

  </div>
  
  <div>
    <div style="text-align: left"><button class="btn btn-default" ng-show="!help.toggle" ng-click="help.toggle = !help.toggle" style="line-height: 40px; font-family: 'allerbold_italic'; font-size: 18px; color: #369">
        
  <span ng-switch="help.who">
    <img ng-switch-when="0" title="Doug Turnbull, Relevancy Guru & Quepid/Splainer Creator" src="/images/doug.jpg" style="float: left; margin: 0 15px 0 0; width: 50px" />
    <img ng-switch-when="1" title="Eric Pugh, OpenSource Connections Principal" src="/images/eric.jpg" style="float: left; margin: 0 15px 0 0; width: 50px" />
    <img ng-switch-when="2" title="Matt Overstreet, OpenSource Connections Solr Architect" src="/images/matt.jpg" style="float: left; margin: 0 15px 0 0; width: 50px" />
  </span>

  <span ng-switch="help.whichMsg">
    <span ng-switch-when="0">Tough Problem?</span>
    <span ng-switch-when="1">Ready to Level Up?</span>
</button><button class="btn btn-default" ng-show="help.toggle" ng-click="help.toggle = !help.toggle" style="line-height: 40px; font-family: 'allerbold_italic'; font-size: 18px"><span class="glyphicon glyphicon-remove"></span>Dismiss</button></div>
  </div>
</div>

</div>
