<div>
  <div ng-show="currSearch.state === currSearch.WAITING_FOR_SEARCH" style="text-align: center">
    <img src="images/ajax-loader.gif"><img>
  </div>
  <div ng-show="currSearch.state === currSearch.IN_ERROR" class="alert alert-error">
    Error with your query. Double check that the URL is correct. <div ng-show="currSearch.engine==='solr'">Try accessing <a target="_blank" href="{{currSearch.linkUrl}}">Solr</a> to troubleshoot the error.</div>
    <pre ng-show="currSearch.errorMsg.length > 0">{{currSearch.errorMsg}}</pre>
  </div>

  <div ng-show="currSearch.state === currSearch.DID_SEARCH">
    <div ng-controller="SolrSettingsWarningCtrl" class="alert alert-warning" ng-show="warnings.shouldWarn(currSearch.settings.searchArgsStr())">
      <ul ng-repeat="(warning, arguments) in warnings.messages(currSearch.settings.searchArgsStr())">
        <li>Arguments Removed: <span ng-repeat="argument in arguments"> <em>{{argument}} </em></span> because: {{warning}}</li>
      </ul>
    </div>

    <small>
      <a ng-if="currSearch.linkUrl.length > 0" href="{{currSearch.linkUrl}}" target="_blank">{{currSearch.numFound}} Total Results</a>
      <span ng-if="!currSearch.linkUrl">
        {{currSearch.numFound}} Total Results
      </span>
    </small>

    <span ng-show="currSearch.engine == 'solr'">
    |
    <small>
      <a href="" ng-click="showQueryDetails = !showQueryDetails">Query Details</a>
    </small>
    </span>
    |
    <small>
      <a href="" ng-click="showParsedQueryDetails = !showParsedQueryDetails">Parsed Query Details</a>
    </small>

    <div uib-collapse="!showQueryDetails">
      <json-explorer
        json-data="currSearch.searcher.queryDetails"
      ></json-explorer>
    </div>
    <div uib-collapse="!showParsedQueryDetails">
      <json-explorer
        json-data="currSearch.searcher.parsedQueryDetails"
      ></json-explorer>
    </div>


    <hr style="margin-top: 5px"/>
    <div ng-if="!currSearch.hasGroup()" ng-repeat="doc in currSearch.docs">
      <doc-row doc="doc" max-score="currSearch.maxScore" which-engine="currSearch.engine"></doc-row>
      <hr/>
    </div>

    <div class="grouped" ng-if="currSearch.hasGroup()" ng-repeat="(group, groupedBy) in currSearch.grouped">
      <h4>Grouped by: {{group}}</h4>
      <div ng-repeat="grouped in groupedBy">
        <h4 style="margin-left: 10px" title = "Group: {{group}}, {{grouped.value}}">Value: <em>{{grouped.value}}</em></h4>
        <div ng-repeat="doc in grouped.docs">
          <doc-row doc="doc" max-score="currSearch.maxScore" which-engine="currSearch.engine"></doc-row>
        </div>

        <hr/>
      </div>
    </div>

    <div class="row">
      <div ng-show="!currSearch.paging && currSearch.moreResults()" id="pager" class="col-md-2 col-md-offset-5"><a href="" ng-click="currSearch.page()">Show More Results</a></div>
    </div>
  </div>
</div>
