<div>

  <div ng-if="hots.length <= 3">
    <div class="graph-explain" ng-repeat="match in hots">
      <inspector-gadget data-container="body" data-placement="right">
        <div class="graph-label">{{match.description}}</div>
        <progressbar value="match.percentage"></progressbar>
      <inspector-title>
        Match Metadata
      </inspector-title>
      <inspector-content>
      {{match.metadata}}
      </inspector-content>
      </inspector-gadget>
    </div> 
    <a style="font-size: 10px" ng-click="detailed()" href="#">Detailed</a>
  </div>

  <!-- collapse if > 3-->
  <div ng-if="hots.length > 3">
    <div class="graph-explain" ng-repeat="match in hots.slice(0,3)">
      <inspector-gadget>
        <div class="graph-label">{{match.description}}</div>
        <progressbar value="match.percentage"></progressbar>
      <inspector-title>
        Match Metadata
      </inspector-title>
      <inspector-content>
      {{match.metadata}}
      </inspector-content>
      </inspector-gadget>
    </div> 
    <div collapse="!showAll">
      <div class="graph-explain" ng-repeat="match in hots.slice(3)">
        <inspector-gadget>
          <div class="graph-label">{{match.description}}</div>
          <progressbar value="match.percentage"></progressbar>
        <inspector-title>
          Match Metadata
        </inspector-title>
        <inspector-content>
         blah
        </inspector-content>
        </inspector-gadget>
      </div> 
    </div>
    <a style="font-size: 10px" ng-click="detailed()" href="#">Detailed</a>
    &nbsp;&nbsp;&nbsp;
    <a href="#" style="font-size: 10px" ng-click="showAll=!showAll">Show {{showAll ? 'Less' : 'More'}}</a>
  </div>

</div>
