<div>

  <div ng-if="hots.length <= 3">
    <div class="graph-explain" ng-repeat="match in hots">
      <div class="graph-label">{{match.description}}</div>
      <uib-progressbar value="match.percentage"></uib-progressbar>
    </div>
    <a ng-if="detailed" style="font-size: 10px" ng-click="detailed()" >Detailed</a>
  </div>

  <!-- collapse if > 3-->
  <div ng-if="hots.length > 3">
    <div class="graph-explain" ng-repeat="match in hots.slice(0,3)">
      <div class="graph-label">{{match.description}}</div>
      <uib-progressbar value="match.percentage"></uib-progressbar>
    </div>
    <div collapse="!showAll">
      <div class="graph-explain" ng-repeat="match in hots.slice(3)">
        <div class="graph-label">{{match.description}}</div>
        <uib-progressbar value="match.percentage"></uib-progressbar>
      </div>
    </div>
    <a style="font-size: 10px" href="" ng-click="detailed()">Detailed</a>
    &nbsp;&nbsp;&nbsp;
    <a href="" style="font-size: 10px" ng-click="showAll=!showAll">Show {{showAll ? 'Less' : 'More'}}</a>
  </div>

</div>
