

<form ng-submit="start.submit()">
  <fieldset>
    <label>To get started, paste your Solr Search URL here:</label>
    <!-- <input type="text" ng-model="start.startUrl" style="width:100%" placeholder="paste something like: http://localhost:8983/solr/collection1/select?q=*:*"></input>
    <button type="submit" dispatch-on-click="openEast" class="btn">Splain This!</button> -->

    <div class="input-group starter-URL">
      <input type="text" class="form-control" ng-model="start.settings.startUrl" placeholder="paste something like http://localhost:8983/solr/collection1/select?q=*:*">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" dispatch-on-click="openEast" >Splain This!</button>
      </span>
    </div>
    <div class="pull-left">
      <h4>What is Splainer?</h4>
      <small>What is Splainer? Splainer is a Solr search sandbox that helps you understand why! Copy your Solr URL out of your browser window and paste it here. We'll summarize the matches driving your results and summarize explain information... and thats just the beginning. Start tweaking in our sandbox to get your query closer to where you need it to be!
      <em>But waits there's more...</em> the project is open source so <a href="http://github.com/o19s/splainer">fork us!</a> and when you want to up your game even further try <a href="http://quepid.com">Quepid!</a></small>
    </div>
  </fieldset>
</form>

