<form>
  <fieldset>
    <label>Splainer is the Search Sandbox that helps you understand why!</label>
    <div>
      <div class="tabbable tabs-below">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#solr_"data-toggle="tab">Solr</a></li>
          <li><a href="#es_" data-toggle="tab">Elasticsearch</a></li>
          <li><a href="#os_" data-toggle="tab">OpenSearch</a></li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane active" id="solr_">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="start.solrSettings.startUrl" ng-init="start.solrSettings.startUrl='http://quepid-solr.dev.o19s.com:8985/solr/tmdb/select?q=*:*'">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" dispatch-on-click="openEast" ng-click="start.submitSolr()">Splain This!</button>
              </span>
            </div>
          </div>

          <div class="tab-pane" id="es_">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="start.esSettings.startUrl" ng-init="start.esSettings.startUrl='http://quepid-elasticsearch.dev.o19s.com:9206/tmdb/_search'">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" dispatch-on-click="openEast" ng-click="start.submitEs()">Splain This!</button>
              </span>
            </div>

            <p>
              <button type="button" class="btn btn-sm btn-default" ng-click="isHeaderConfigCollapsed = !isHeaderConfigCollapsed">Advanced Settings</button>
            </p>
            <div uib-collapse="!isHeaderConfigCollapsed">
              <custom-headers settings="start.esSettings"></custom-headers>
            </div>

            <div style="height: 300px; margin-top: 20px;" ui-ace="{
                require: ['ace/ext/language_tools'],
                useWrapMode: false,
                tabSize: 2,
                useSoftTabs: true,
                mode: 'json'
              }"
              ng-model="start.esSettings.searchArgsStr">
            </div>
            <a href="" class="label label-default" ng-click="start.autoIndent()">Indent JSON</a>
          </div>

          <div class="tab-pane" id="os_">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="start.osSettings.startUrl" ng-init="start.osSettings.startUrl='https://reader:reader@quepid-opensearch.dev.o19s.com:9000/tmdb/_search'">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" dispatch-on-click="openEast" ng-click="start.submitOs()">Splain This!</button>
              </span>
            </div>

            <p>
              <button type="button" class="btn btn-sm btn-default" ng-click="isHeaderConfigCollapsed = !isHeaderConfigCollapsed">Advanced Settings</button>
            </p>
            <div uib-collapse="!isHeaderConfigCollapsed">
              <custom-headers settings="start.osSettings"></custom-headers>
            </div>


            <div style="height: 300px; margin-top: 20px;" ui-ace="{
                require: ['ace/ext/language_tools'],
                useWrapMode: false,
                tabSize: 2,
                useSoftTabs: true,
                mode: 'json'
              }"
                 ng-model="start.osSettings.searchArgsStr">
            </div>
            <a href="" class="label label-default" ng-click="start.autoIndent()">Indent JSON</a>
          </div>

        </div>
      </div>
    </div>
    <p class="pull-right text-muted">... or take a <a href="help.html">tour</a></p>
    <br/>
    <br/>
    <hr/>
    <div class="row">
      <div class="col-md-4">
        <h4>Understand</h4>
        <p class="text-muted">Copy your Solr, Elasticsearch, or OpenSearch URL from your browser window and paste it here. We'll highlight the matches driving your results and explain to you "why" in human-understandable terms.</p>
      </div>
      <div class="col-md-4">
        <h4>Act</h4>
        <p class="text-muted">Once you know why search isn't meeting up to your expectations, Act! Use Splainer as a sandbox to begin tweaking query parameters to get your query to match up to expectations.</p>
      </div>
      <div class="col-md-4">
        <h4>Evolve</h4>
        <p class="text-muted">Now you're in the business of tuning <a href="http://www.opensourceconnections.com/blog/2014/06/10/what-is-search-relevancy">Search Relevancy</a>. Use <a href="http://quepid.com">Quepid</a> to upgrade your Splainer experience--tune multiple queries simultaneously, measure against user feedback, and track search tuning progress over time.</p>
      </div>
    </div>
  </fieldset>
</form>
