

<form ng-submit="start.submit()">
  <fieldset>
    <label>To get started, paste your Solr Search URL here:</label>
    <!-- <input type="text" ng-model="start.startUrl" style="width:100%" placeholder="paste something like: http://localhost:8983/solr/collection1/select?q=*:*"></input>
    <button type="submit" dispatch-on-click="openEast" class="btn">Splain This!</button> -->

    <div class="input-group starter-URL">
      <input type="text" class="form-control" ng-model="start.settings.startUrl" placeholder="paste something like http://localhost:8983/solr/collection1/select?q=*:*">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" dispatch-on-click="openEast" >Splain This!</button>
      </span>
    </div>
  </fieldset>
</form>

